body{
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.circle{
    display: flex;
    align-items: center;
    transform: translateX(16.5%);
    width:60px;
    height:60px;
    justify-content: center;
    border-radius: 50%;
    background-color: rgb(241 243 244);
    font-size: 30px;
    font-weight: bold;
}
.plog{
    align-items: center;
    display: flex;
}
#logo{
    margin-bottom: 20px;
    transform: translateX(65%);
    width: 272px;
}
#search{
    padding-inline-start: 40px;
    padding-inline-end: 40px;
    font-size: 16px;
    height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 20px;
    border: none;
    box-shadow: 2px 2px 2px 2px rgb(199 199 199);
}
#search:focus{
    border: 0 none;
    outline: 0;
}
.add{
    width: 100px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
.add:hover{
    background-color: rgb(184, 184, 184);
    opacity: 0.5;
    cursor: pointer;
}
.simbol{
    vertical-align: middle;
    transform: translate(2%, -4%);
}
#atalhos{
    margin-top: 20px;
    margin-left: 15%;
    display: flex;
}
.dsea{
    width: 100%;
}
#l{
    transform: translate(50%, 30%);
    position: absolute;
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgZmlsbD0iIzVGNjM2OCI+PHBhdGggZD0iTTE1LjUgMTRoLS43OWwtLjI4LS4yN0E2LjQ3MSA2LjQ3MSAwIDAgMCAxNiA5LjUgNi41IDYuNSAwIDEgMCA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    display:block;
    width:32px;
    height:32px;
}
#m{
    cursor: pointer;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgyNHYyNEgweiIvPjxwYXRoIGZpbGw9IiM0Mjg1RjQiIGQ9Ik0xMiAxNWMxLjY2IDAgMi45OS0xLjM0IDIuOTktM0wxNSA1YzAtMS42Ni0xLjM0LTMtMy0zUzkgMy4zNCA5IDV2N2MwIDEuNjYgMS4zNCAzIDMgM3oiLz48cGF0aCBmaWxsPSIjMzRBODUzIiBkPSJNMTEgMTguOTJoMlYyMmgtMnoiLz48cGF0aCBmaWxsPSIjRjRCNDAwIiBkPSJNNyAxMkg1YzAgMS45My43OCAzLjY4IDIuMDUgNC45NWwxLjQxLTEuNDFDNy41NiAxNC42MyA3IDEzLjM4IDcgMTJ6Ii8+PHBhdGggZmlsbD0iI0VBNDMzNSIgZD0iTTEyIDE3Yy0xLjM4IDAtMi42My0uNTYtMy41NC0xLjQ3bC0xLjQxIDEuNDFBNi45OSA2Ljk5IDAgMCAwIDEyLjAxIDE5YzMuODcgMCA2Ljk4LTMuMTQgNi45OC03aC0yYzAgMi43Ni0yLjIzIDUtNC45OSA1eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    display:block;
    width:32px;
    height:32px;
    position: absolute;
    transform: translate(1880% , -100%);
}
.bp{
    display: flex;
    width: 4px;
    height: 4px;
    background-color: rgb(68, 68, 68);
    margin: 1px;
    border-radius: 50%;
}
.l1{
    display: flex;
}
.bot-sup{
    float: right;
    padding: 10px;
    border-radius: 50%;
}
.bot-sup:hover{
    background-color: rgb(223, 223, 223);
}
.dus{
    float: right;
    padding: 3px;
    border-radius: 50%;
}
.dus:hover{
    background-color: rgb(223, 223, 223);
}
#user{
    border-radius: 50%;
}
.hea{
    margin-top: 15px;
    margin-right: 15px;
}